.info{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    top: 10px;
    position: sticky;
}

.no-info{
    position: sticky;
    top: 10px;
}

.info {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}
.body{
    padding: 20px;
}
.no-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img{
    width: 500px;
    height: 500px;
}
.fa-user-circle{
    font-size:150px;
    color: #c4c4c4;
}
.btn-collab{
    background-color: #32CD32;
    color: white;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-circle{
    font-size: 20px;
}

.state{
    margin-bottom: 0px;
    padding-right: 5px;
    font-size: 15px;
}

.card-content{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.nav-link{
    padding:0px;
    text-align:left;
}
.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.published-item{
    text-align:right;
    text-align:left;
    margin:0px;

}
.card-subtitle-info{
    padding: 15px;
    border-top-style: solid;
    padding-top: 1;
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.skills{
    margin: 0px;
}
.button-search{
    border-top-style: solid;
    padding-top: 1;
    border-width: 1px ;
}
.tag-title{
    font-size: medium;
    margin-bottom: 5px;
}
.tag{
    color: #6c757d;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: #6c757d;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link{
    color: #32CD32 !important;
}   

.fa-user{
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
share-buttons{
    background-color:#6c757d;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}

