<div class="info" *ngIf="showHideComponent">
    <div class="body">
        <div class="content-items">
            <div class="row">
                <div class="col-10">
                    <h1 class="card-title-info mb-0" *ngIf="projectInfo" >{{projectInfo.title}}</h1>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-end">
                    <h5 class="state" [ngStyle]="{'color': showState()}" *ngIf="projectInfo">{{projectInfo.state}}</h5>
                    <i class="fas fa-circle" [ngStyle]="{'color': showState()}" *ngIf="projectInfo"></i>
                </div>
             
            </div>
            <div class="row">
                <div class="col-12 col-lg-12 mt-2">
                    <ul class="nav nav-pills-item nav-fill" *ngIf="projectInfo">
                        <div *ngFor="let collaborator of projectInfo.idCollaborators">
                            <a class="nav-link p-0 me-3 mb-1" href="#">
                                <i class="fas fa-user" *ngIf="projectInfo"></i>  {{collaborator.nickName}} 
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 type="date" class="published-item mt-2" *ngIf="projectInfo">Publicado el {{showCreateDate}}</h5>
                    <h5 class="published-item" *ngIf="projectInfo">Se cierra el {{showFinishDate}}</h5>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-collab btn-sm" (click)="collaborater()">Colaborar</button>
                </div>
            </div>
            <p class="card-subtitle-info mb-2 text-muted" *ngIf="projectInfo">
                {{projectInfo.content}}
            </p>
            <div class="row">
                <div class="col-12 col-lg-12" *ngIf="projectInfo">
                    <p class="tag-title">Disciplinas</p>
                    <label *ngFor="let discipline of projectInfo.idDisciplines">
                        <p class="tag me-2 mb-2" >{{discipline.name}}</p>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-12" *ngIf="projectInfo">
                    <p class="tag-title">Habilidades</p>
                    <label *ngFor="let skill of projectInfo.idSkills">
                        <p class="tag me-2 mb-2">{{skill.name}}</p>
                    </label>
                </div>
            </div>
           <!--  <div class="button-search">
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2" [routerLink]="['/visitor/register']">
                    Guardar
                    <i class="fa fa-bookmark"></i>
                </button>
            </div> -->
        </div>
    </div>
</div>
<div class="no-info" *ngIf="!showHideComponent">
    <img src="/assets/img/icono coliv.png">
</div>