.card {
  background-color: #ffffff;
  height: 100%;
}
.fa-user-circle {
  font-size: 150px;
  color: #c4c4c4;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.nav-link {
  padding: 0px;
  text-align: left;
}
.nav-pills {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.published-item {
  text-align: left;
}
.card-subtitle-info {
  padding: 15px;
  border-top-style: solid;
  padding-top: 1;
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.skills {
  margin: 0px;
}
.button-search {
  border-top-style: solid;
  padding-top: 1;
  border-width: 1px ;
}
