.card {
    background-color: #ffffff;
}
.container-fluid{
    background-color: #E9E9E9;
}

.card-title{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
    margin: 0px;
}
.nav-link{
    padding:0px;
    text-align:left;
}
.published-item{
    text-align:right;
    margin:0px;
}
.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.published-item{
    text-align:left;
}
.card-subtitle-info{
    padding: 15px;
    border-top-style: solid;
    padding-top: 1;
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.skills{
    margin: 0px;
}
.button-search{
    border-top-style: solid;
    padding-top: 1;
    border-width: 1px ;
}

//temporal//
.circle-color{
    color: #379831
}