<div class="container-fluid">
    <div class="container">
        <div class="d-none d-lg-block">
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" placeholder="Buscar proyectos">
                </div>
                <div class="col-12 col-lg-6 mt-2 d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/visitor/login']">Publicar proyecto</button>
                </div>
            </div>
        </div>
        <!-- Responsive start -->
        <div class="d-block d-lg-none">
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" placeholder="Buscar proyectos">
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/visitor/login']">Publicar proyecto</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 ">
                <div class="row">
                    <div class="col-12 col-lg-12" *ngFor="let project of projects">
                        <app-project [projects]="project" (projectList)="recibir($event)" (show)="recibirIsShowInfo($event)"></app-project>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-lg-6 ">
                <div class="col-12 col-lg-12">
                    <app-project-info [Projectinfo]="projectinfo" [showHideComponent]= "isshowinfo"></app-project-info>
                </div>
            </div>
        </div>
    </div>
</div>