<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-10 mt-2">
                <h3>Contactanos:</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="nav col-10 col-lg-10 justify-content-start list-unstyled d-flex">
                <li class="d-flex">
                    <i class="far fa-contacts-colib fa-envelope"></i>
                    <p class="contacts ms-2 me-4">contacto.colib@gmail.com</p>
                </li>
                <li class="d-flex">
                    <i class="fab fa-contacts-colib fa-instagram"></i>
                    <p class="contacts ms-2 me-4">colib.-.contacto</p>
                </li>
                <li class="d-flex">
                    <i class="fab fa-contacts-colib fa-facebook-square"></i>
                    <p class="contacts ms-2 me-4">Colib Contacto</p>
                </li>
                <li class="d-flex">
                    <i class="fab fa-contacts-colib fa-twitter-square"></i>
                    <p class="contacts ms-2 me-4">@colib_Contactos</p>
                </li>
            </ul>
        </div>
    </div>
</footer>