
.card {
    background-color: #E9E9E9;
    height: 100%;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: green;
}