.card {
  border-radius: 20px;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}
h1 {
  color: #32CD32;
  font-size: 50px;
}
h2 {
  font-size: 25px;
}
.btn-logIn {
  background-color: #32CD32;
  color: white;
}
a {
  text-decoration: none;
}
