<nav class="navbar">
    <div class="container-fluid">
        <img src="/assets/img/icono coliv.png">
        <h2>Colib</h2>
        <ul class="nav justify-content-center">
            <li class="nav-item me-3">
                <button type="button" class="notifications">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill bg-danger">1</span>
                </button>
            </li>
            <li class="nav-item me-3">
                <button type="button" class="messages">
                    <i class="fas fa-comments"></i>
                    <span class="badge rounded-pill bg-danger">1</span>
                </button>
            </li>
            <li class="nav-item me-3">
                <button type="button" class="profile">
                    <i class="fas fa-user"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>