img {
  width: 50px;
}
h2 {
  color: #32CD32;
  font-size: 40px;
  font-family: "Roboto";
  margin-bottom: 0px;
}
.notifications {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 20px;
  padding: 5px;
  padding-right: 6.5px;
  padding-left: 6.5px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.messages {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 20px;
  padding: 5px;
  padding-right: 4.5px;
  padding-left: 4.5px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.profile {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 20px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.badge {
  position: absolute;
  font-size: x-small;
  bottom: 0px;
}
@media (max-width: 350px) {
  h2 {
    display: none;
  }
}
