img {
  width: 50px;
}
h2 {
  color: #32CD32;
  font-size: 40px;
  font-family: "Roboto";
  margin-bottom: 0px;
}
/*--------- Notifications start ---------*/
.notifications {
  color: #C4C4C4;
  font-size: 20px;
  padding: 5px;
  padding-right: 6.5px;
  padding-left: 6.5px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.dropdown-notificactions {
  position: absolute;
  right: 24px;
  top: 70px;
  width: 448px;
  margin-top: 0px;
  padding-top: 0px;
}
.notifications-drop {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.notifications-title {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-notification {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
  margin-bottom: 0px;
}
.rec-request {
  text-decoration: none;
}
/*---------- Notifications end ----------*/
.messages {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 20px;
  padding: 5px;
  padding-right: 4.5px;
  padding-left: 4.5px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.profile {
  color: #C4C4C4;
  font-family: "Roboto";
  font-size: 20px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #C4C4C4;
  background-color: white;
}
.badge {
  position: absolute;
  font-size: x-small;
  bottom: 14px;
}
.navbar {
  background-color: white;
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
  border-color: #c4c4c4;
}
.logOut {
  color: #32CD32;
  /* border-top-style: solid;
    border-top-color: #C4C4C4;
    border-top-width: 1px; */
}
.itemProfile {
  border-bottom-style: solid;
  border-bottom-color: #C4C4C4;
  border-bottom-width: 1px;
}
.dropdown-menu {
  padding: 0px;
}
/*---------- off canvas start ---------*/
.offcanvas-start {
  width: 100%;
}
.offcanvas-title {
  font-size: 24px;
  margin-bottom: 0px;
}
.accordion-header {
  margin: 0px;
}
.accordion-body {
  padding: 0px;
}
.accordion-button:focus {
  box-shadow: none;
}
/*----------- off canvas end ----------*/
@media (max-width: 350px) {
  h2 {
    display: none;
  }
}
