<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <img src="/assets/img/icono coliv.png" type="button" href="#" [routerLink]="['/user/home']">
            </li>
            <li class="nav-item mt-2">
                <h2 type="button" href="#" [routerLink]="['/user/home']">Colib</h2>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item me-3 dropdown">
                <button type="button" class="notifications" id="menuNotifications" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill bg-danger">1</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuNotifications">
                    <li><a class="dropdown-item" href="#">notificación 1</a></li>
                    <li><a class="dropdown-item" href="#">notificación 2</a></li>
                    <li><a class="dropdown-item" href="#">notificación 3</a></li>
                </ul>
            </li>
            <li class="nav-item me-3 dropdown">
                <button type="button" class="messages">
                    <i class="fas fa-comments" [routerLink]="['/user/contacts']"></i>
                    <span class="badge rounded-pill bg-danger">1</span>
                </button>
            </li>
            <li class="nav-item me-3">
                <button type="button" class="profile" id="menuProfile" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuNotifications">
                    <li><a class="dropdown-item" href="#" [routerLink]="['/user/userinfo']">Información general</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['/user/myprojects']">Proyectos publicados</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['/user/savedprojects']">Proyectos guardados</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['/user/requests']">Solicitudes de colaboración</a></li>
                    <li><a class="dropdown-item logOut" href="#" [routerLink]="['/visitor/home']">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>