<div class="sideBar">
    <div class="info-user">
        <div class="header pt-3 text-center">
            <i type="button" class="fas fa-user mt-2"></i>
            <h2 class="my-3" *ngIf="user">{{user.name}}</h2>
        </div>
        <div class="body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action py-3" [routerLink]="['/user/userinfo']" [routerLinkActive]="['active']">Información general</button>
                        <button type="button" class="list-group-item list-group-item-action py-3" [routerLink]="['/user/myprojects']" [routerLinkActive]="['active']">Proyectos publicados</button>
                        <button type="button" class="list-group-item list-group-item-action py-3" [routerLink]="['/user/savedprojects']" [routerLinkActive]="['active']">Proyectos guardados</button>
                        <button type="button" class="list-group-item list-group-item-action py-3" [routerLink]="['/user/requests']" [routerLinkActive]="['active']">Solicitudes de colaboración</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success create-proyect py-3 mt-4 align-items-end text-center">Crear Proyecto</button>
</div>