.card-info-user{
    background-color: #FFFFFF;
    height: 100%;
    border-width:0px; 
}
.card-header{
    background-color: #FFFFFF;
}

.sideBar{
    position: sticky;
    top: 0%;
    height:800px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
}

.fa-user{
    font-size: 110px;
    color: #dadada;
    padding-top: 20px;
    padding-bottom: 28px;
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
    border-color: #dadada;
    border-width: 10px;
    border-radius: 200px;
}

.list-group-item {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
}

.list-group-item.active{
    background-color: white;
    color: #32CD32;
}
.create-proyect{
    position: sticky;
    bottom:0%;
    background-color: #32CD32;
    border-radius: 200px;
    border-width: 0px;
}