.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.example-chip-list {
    width: 100%;
}



mat-dialog-content::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  mat-dialog-content::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  mat-dialog-content::-webkit-scrollbar-thumb {
    background-color: rgb(157, 157, 158);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }