<div mat-dialog-title>
    <div class="row">
        <div class="col-10">
            <h2 class="mb-0">Cambiar Contraseña</h2>
        </div>
        <div class="col-2 align-items-center">
            <div type="button" class="btn-close" mat-dialog-close></div>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="col-12">
        <div class="card-body">
            <form [formGroup]="updatePassword" (ngSubmit)="onSubmit()">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <mat-form-field class="full-width mt-2" appearance="outline">
                        <mat-label>Ingresar Contraseña actual</mat-label>
                        <input matInput formControlName="oldPassword" [type]="hidePassword ? 'password' : 'text'" [formControl]="getPassword()" required>
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="getPassword().invalid">{{getErrorActualPasswordMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <mat-form-field class="full-width mt-2" appearance="outline">
                        <mat-label>Ingresar nueva contraseña</mat-label>
                        <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" [formControl]="getNewPassword()" required>
                        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="getNewPassword().invalid">{{getErrorNewPasswordMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <mat-form-field class="full-width mt-2" appearance="outline">
                        <mat-label>Repetir nueva contraseña</mat-label>
                        <input matInput formControlName="newPassword" [type]="hideReNewPassword ? 'password' : 'text'" [formControl]="getReNewPassword()" required>
                        <button mat-icon-button matSuffix (click)="hideReNewPassword = !hideReNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReNewPassword">
                            <mat-icon>{{hideReNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="getReNewPassword().invalid">{{getErrorReNewPasswordMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" class="btn btn-secondary me-2" mat-dialog-close>Cancelar</button>
    <button 
        type="button" 
        class="btn btn-primary" 
        (click)="showNotification()"
        type="submit" 
        (click)='onSubmit()'>
            Guardar
    </button>
</mat-dialog-actions>
<!-- [disabled]="getPassword().invalid || getNewPassword().invalid || getReNewPassword().invalid" -->