<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 my-3">
                <app-menu></app-menu>
            </div>
            <div class="col-12 col-lg-9 my-3">
                <div class="card all-proyects">
                    <div class="card-header text-center">
                        <h2 class="project-published">Proyectos guardados</h2>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center" *ngFor="let project of projects">
                            <app-my-projects-saved [projects]="project"></app-my-projects-saved>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>