<h2 mat-dialog-title class="ps-3">Editar Disciplinas</h2>
<mat-dialog-content class="px-4">

    <div class="row">
        <div class="col-12 col-lg-12 p-0">
            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

    </div>

</mat-dialog-content>
<mat-dialog-actions class="px-3">
    <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
    <div class="col d-flex align-items-bot justify-content-end">
        <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
    </div>
</mat-dialog-actions>