<div class="container-fluid">
    <div class="container">
        <div class="row design">
            <div class="col-12 col-lg-3 my-3 ">
                <app-menu [id]="id" [idUser]="idUser" [user]="user"></app-menu>
            </div>
            <div class="col-12 col-lg-9 py-3 my-info">
                <div class="general-info">
                    <div class="header text-center">
                        <h2 class="overall-info">Información general</h2>
                    </div>
                    <div class="card-center">
                        <div class="col-11 col-lg-9">
                            <div class="all-personal-info mt-4 mb-2">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-10">
                                            <p class="personal-info my-2 ms-4">
                                                Información personal
                                            </p>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-end" *ngIf="!myProfile">
                                            <i class="fas fa-edit" type="button" (click)="editPersonalInfo()"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card item">
                                        <p class="type-item ms-4">Nombre del usuario</p>
                                        <p class="info-item ms-4" *ngIf="user">{{user.name}} {{user.lastName}}</p>
                                        <p class="type-item mx-4">Correo electrónico</p>
                                        <p class="info-item ms-4">{{email}}</p>
                                        <p class="type-item mx-4">Número de móvil</p>
                                        <p class="info-item ms-4" *ngIf="user">{{user.movilPhone}}</p>
                                    </div>
                                    <div class="card item mt-3" *ngIf="!myProfile">
                                        <p class="type-item mx-4">Contraseña</p>
                                        <p class="ms-4">Para mantener tu cuenta segura, no le des la contraseña a nadie.</p>
                                        <div class="col change-pass">
                                            <div class="btn pass" (click)="editPassword()">
                                                Cambiar contraseña
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card item mt-3" *ngIf="!myProfile">
                                        <div class="col change-pass">
                                            <div class="btn delete" (click)="openDialog()">
                                                Eliminar Usuario
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="card disciplines my-2">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="tag-title mt-2">Disciplinas</p>
                                                </div>
                                                <div class="col-2 d-flex align-items-center justify-content-end" *ngIf="!myProfile">
                                                    <i class="fas fa-edit" type="button" (click)="openDialogEditDisci()"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body body-disciplines">
                                            <div class="row">
                                                <div class="col-12 col-lg-12">
                                                    <label *ngFor="let discipline of disciplines">
                                                        <p class="tag me-2 mb-2">{{discipline.name}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="card skills my-2">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="tag-title mt-2">Habilidades</p>
                                                </div>
                                                <div class="col-2 d-flex align-items-center justify-content-end" *ngIf="!myProfile">
                                                    <i class="fas fa-edit" type="button" (click)="openDialogEditSkills()"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body body-skills">
                                            <div class="row">
                                                <div class="col-12 col-lg-12">
                                                    <label *ngFor="let skill of skills">
                                                        <p class="tag me-2 mb-2">{{skill.name}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>