
.card-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-info-user{
    box-shadow: 0 0px 2px rgb(0 0 0 / 18%), 0 1px 3px rgb(0 0 0 / 12%);
}
 .general-info{
    box-shadow: 0 0px 2px rgb(0 0 0 / 18%), 0 1px 3px rgb(0 0 0 / 12%);
}

.all-personal-info{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.fa-user-circle{
    font-size: 150px;
    color: #C4C4C4;
}

.list-group-item {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overall-info{
    margin: 0px;
}


.personal-info{
    font-size: medium;
}

.info-item{
    font-size: medium;
    color: #C4C4C4;
}

.type-item{
    font-size: small;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C4C4C4;
}

a{
    text-decoration: none;
}
