.background {
  background-color: #E5E5E5;
}
.card-header {
  background-color: white;
}
.fa-user-circle {
  font-size: 100px;
  color: #C4C4C4;
}
.name-profile {
  font-family: "Roboto";
  font-size: large;
  font-weight: bold;
}
.list-group-item {
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
