<div class="background container-fuild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="card mt-4">
                    <div class="card-header text-center">
                        <i class="fas fa-user-circle mt-2"></i>
                        <p class="name-profile my-3">"Nombre del usuario"</p>
                    </div>
                    <div class="card-body text-center">
                        <div class="list-group mb-5">
                            <a href="#" class="list-group-item list-group-item-action">Información general</a>
                            <a href="#" class="list-group-item list-group-item-action">Proyectos publicados</a>
                            <a href="#" class="list-group-item list-group-item-action">Proyectos guardados</a>
                            <a href="#" class="list-group-item list-group-item-action">Solicitudes de colaboración</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mt-4">
                    <div class="overall-info-header card-header text-center">
                        <h4 class="overall-info mt-3">Información general</h4>
                    </div>
                    <div class="card-body card-center">
                        <div class="col-11 col-lg-9">
                            <div class="card mt-4 mb-2">
                                <div class="personal-info-header card-header">
                                    <div class="row">
                                        <div class="col-10">
                                            <h5 class="personal-info mt-3 ms-4">
                                                Información personal
                                            </h5>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-end">
                                            <i class="fas fa-edit" type="button" data-bs-toggle="modal" data-bs-target="#editPersonalInfo"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="type-item mx-4">Nombre del usuario</p>
                                    <p class="info-item ms-4">Roberto Vasquez</p>
                                    <p class="type-item mx-4">Correo electrónico</p>
                                    <p class="info-item ms-4">roberto.v@gmail.com</p>
                                    <p class="type-item mx-4">Número de móvil</p>
                                    <p class="info-item ms-4">9 9564 3421</p>
                                </div>
                            </div>
                            <span>
                                <a type="button" class="link-primary" data-bs-toggle="modal" data-bs-target="#newPassword">Cambiar contraseña</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Personal Info -->

<div class="modal fade" id="editPersonalInfo" tabindex="-1" aria-labelledby="editPersonalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-personal-info ms-3 mt-3" id="editPersonalInfoLabel">Información personal</h5>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body card-center">
                <div class="col-12">
                    <div class="card-body">
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Ingresar Nombre</mat-label>
                                <input matInput placeholder="Nombre">
                            </mat-form-field>
                        </div>
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Ingresar Apellido</mat-label>
                                <input matInput placeholder="Apellido">
                            </mat-form-field>
                        </div>
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Ingresar correo electrónico</mat-label>
                                <input matInput placeholder="ejemplo@dom.com" [formControl]="email">
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Telefono móvil</mat-label>
                                <span matPrefix> &nbsp;</span>
                                <input matInput #input maxlength="9" type="number" placeholder="9 4554 1234">
                                <mat-hint align="end">{{input.value?.length || 0}}/9</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Password -->

<div class="modal fade" id="newPassword" tabindex="-1" aria-labelledby="newPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-personal-info ms-3 mt-3" id="editPersonalInfoLabel">Cambiar contraseña</h5>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body card-center">
                <div class="col-12">
                    <div class="card-body">
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field class="full-width mt-2" appearance="outline">
                                <mat-label>Ingresar Contraseña actual</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="password.invalid">{{getErrorActualPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field class="full-width mt-2" appearance="outline">
                                <mat-label>Ingresar nueva contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPassword" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="newPassword.invalid">{{getErrorNewPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-grid gap-2 col-12 my-1 mx-auto">
                            <mat-form-field class="full-width mt-2" appearance="outline">
                                <mat-label>Repetir nueva contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="reNewPassword" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="newPassword.invalid">{{getErrorReNewPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="showNotification()">Guardar</button>
            </div>
        </div>
    </div>
</div>