<div class="card card-project mb-3">
    <div class="card-body">
        <div class="card-head">
            <div class="row">
                <div class="col-11">
                    <h1 class="card-title">{{project.title}}</h1>
                </div>
                <div class="col-1 d-flex align-items-top justify-content-end">
                    <i class="fas fa-circle circle-color"></i>
                </div>
            </div>
        </div>
        <p class="card-subtitle mb-2">{{project.content}}</p>
        <div class="nav nav-pills nav-fill">
            <div *ngFor="let colaborator of project.collaborators">
                <a class="nav-link p-0 me-3 mb-1" href="#">
                    <i class="fas fa-user"></i> {{colaborator.name}} {{colaborator.lastName}}
                </a>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2">
                        Compartir
                        <i class="fas fa-share"></i>
                    </button>
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2">
                        Guardar
                        <i class="fa fa-bookmark"></i>
                    </button>
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2" (click)="showComponent()" (click)="mandarInfo()">
                        Leer mas
                    </button>
                <p class="mb-0 mt-2">Publicado el 23 de Agosto, 2021</p>
            </div>
        </div>
        <!-- Responsive Strat -->
        <div class="row d-block d-lg-none">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2">
                        <i class="fas fa-share"></i>
                    </button>
                <button type="button" class="btn btn-secondary btn-sm me-2 mt-2">
                        <i class="fa fa-bookmark"></i>
                    </button>
                    <a type="button" class="btn btn-secondary btn-sm btn-read-more mt-2" data-bs-toggle="offcanvas" href="#{{projectId}}" aria-controls="offcanvasInfoProject">Leer mas</a>
            </div>
            <p class="mb-0 mt-2">Publicado el 23 de Agosto, 2021</p>
        </div>
        <!-- Responsive end -->
    </div>
</div>

<!-- Offcanvas responsive start -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="{{projectId}}" aria-labelledby="offcanvasInfoProjectLabel">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title mb-0" id="offcanvasInfoProjectLabel">{{project.title}}</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="nav nav-fill">
                    <div *ngFor="let colaborator of project.collaborators">
                        <a class="off-canvas-nav-link nav-link p-0 me-3 mb-1" href="#">
                            <i class="fas fa-user"></i> {{colaborator.name}} {{colaborator.lastName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mt-2">
                <h5 class="published-item">Publicado el 23 de Agosto, 2021</h5>
                <h5 class="published-item">Cerrado el {{project.finishedDate}}</h5>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/visitor/login']">Colaborar</button>
            </div>
        </div>
        <p class="card-subtitle-info mb-2">{{project.content}}</p>
        <div class="row">
            <div class="col-12 col-lg-12">
                <p class="tag-title">Disciplinas</p>
                <label *ngFor="let discipline of project.disciplines">
                    <p class="tag me-2 mb-2">{{discipline.name}}</p>
                </label>
            </div>
            <div class="col-12 col-lg-12">
                <p class="tag-title">Habilidades</p>
                <label *ngFor="let skill of project.skills">
                    <p class="tag me-2 mb-2">{{skill.name}}</p>
                </label>
            </div>
        </div>
        <div class="button-search">
            <button type="button" class="btn btn-secondary btn-sm me-2 mt-2" [routerLink]="['/visitor/register']">
                Compartir
                <i class="fas fa-share"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm me-2 mt-2" [routerLink]="['/visitor/register']">
                Guardar
                <i class="fa fa-bookmark"></i>
            </button>
        </div>
    </div>
</div>

<!-- Offcanvas responsive end -->