<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div class="d-none d-lg-block">
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" placeholder="Buscar proyectos">
                </div>
                <div class="col-12 col-lg-6 mt-2 d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-primary btn-sm">Publicar proyecto</button>
                </div>
            </div>
        </div>
        <!-- Responsive start -->
        <div class="d-block d-lg-none">
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" placeholder="Buscar proyectos">
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <button type="button" class="btn btn-primary btn-sm">Publicar proyecto</button>
                </div>
            </div>
        </div>
        <!-- Responsive end -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <app-project (pruebaEvent)="recibir($event)"></app-project>
                </div>
            </div>
            <div class="col-12 col-lg-6" [ngClass]="{'hola': info == 'hola', 'chao': info != 'hola'}">
                <app-project-info [mostrar]="info"></app-project-info>
            </div>
        </div>
    </div>
</div>