<h2 mat-dialog-title>Editar Información Del Proyecto</h2>
<mat-dialog-content class="mat-content">
    <mat-card class="mar-card my-2">
        <div class="row">
            <div class="col-12 col-lg-12 card-hight">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Titulo del proyecto:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Contenido del proyecto:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
    <div>
        <h4 class="mb-0">Fecha de cierre</h4>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione la fecha</mat-label>
            <input matInput [matDatepicker]="dp3" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>

    <mat-card class="mat-card my-2">
        <div class="row">
            <div class="col-12 col-lg-12">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                            {{fruit}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
    <div class="col d-flex align-items-bot justify-content-end">
        <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
    </div>
</mat-dialog-actions>