<h2 mat-dialog-title>Editar Información Del Proyecto</h2>
<mat-dialog-content class="mat-content">
    <form [formGroup]="updateProject" (ngSubmit)="onSubmit()"> 
        <mat-card class="mar-card my-2">
            <div class="row">
                <div class="col-12 col-lg-12 card-hight">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Titulo del proyecto:</label>
                        <input type="text" class="form-control" formControlName="title" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Contenido del proyecto:</label>
                        <textarea class="form-control" id="message-text" formControlName="content" ></textarea>
                    </div>
                </div>
            </div>
        </mat-card>
        <div>
            <h4 class="mb-0">Fecha de cierre</h4>
            <mat-form-field appearance="fill">
                <mat-label>Seleccione la fecha</mat-label>
                <input matInput formControlName="finishDate" [matDatepicker]="dp3">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
    <mat-card class="mat-card my-2">
        <div class="row">
            <div class="col-12 col-lg-12">
                <mat-label>Seleccione colaborador</mat-label>
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-chip-list #chipList3 aria-label="collabs selection">
                    <mat-chip *ngFor="let collab of myCollabs" [selectable]="selectable" [removable]="removable" (removed)="removeCollab(collab)">
                        {{collab}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New collabs..." #collabInput [formControl]="collabCtrl" [matAutocomplete]="auto3" [matChipInputFor]="chipList3" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addCollab($event)">
                </mat-chip-list>
                <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="selectedCollabs($event)">
                    <mat-option *ngFor="let collab of filteredCollab | async" [value]="collab">
                        {{collab}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            </div>
        </div>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
    <div class="col d-flex align-items-bot justify-content-end">
        <button class="btn btn-primary" [mat-dialog-close]="true"  (click)='onSubmit()' cdkFocusInitial>Guardar</button>
    </div>
</mat-dialog-actions>