.card {
    background-color: #ffffff;
    height: 100%;
}
.container-fluid{
    background-color: #E9E9E9;
}
.fa-user-circle{
    font-size:150px;
    color: #c4c4c4;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-content{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.nav-link{
    padding:0px;
    text-align:left;
}
.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.published-item{
    text-align:left;

}
.card-subtitle-info{
    padding: 15px;
    border-top-style: solid;
    padding-top: 1;
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.skills{
    margin: 0px;
}
.button-search{
    border-top-style: solid;
    padding-top: 1;
    border-width: 1px ;
}

//barra de navegacion usuario
.list-group-item {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

@media (min-width: 991px) {
    .card-info-user{
        height: 100%;
    }
    .card-header-info{
        height: 35%;
    }
}


//material css
.example-chip-list {
    width: 100%;
  }
  .card-scroll {
    height:120px;
    overflow-y: scroll;
  }