.card {
    background-color: #ffffff;
    height: 100%;
    border-width: 0px;
}
/* .col-12{
    height: 100vh;
} */
.card-header{
    background-color: #ffffff;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-published{
    margin: 0px;
}
.card-title{
    margin: 0px;
}


.card-content{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.nav-link{
    padding:0px;
    text-align:left;
}
.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.published-item{
    text-align:right;

}   
/* .all-proyects{
    box-shadow: 0 0px 2px rgb(0 0 0 / 18%), 0 1px 3px rgb(0 0 0 / 12%);
} */

.header{
    background-color: #ffffff;
}
.row{
    border-right-width: 1px !important;
    border-right-color: #c4c4c4 !important;
    border-right:solid;
    border-left-width: 1px !important;
    border-left: solid;
    border-left-color: #c4c4c4;
}
.my-projects{
    border-left-width: 1px !important;
    border-left: solid;
    border-left-color: #c4c4c4;
}

.card-info {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .card-info {
    padding-top: 102px;
  }