<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="cart-content col-12 col-lg-3 my-3">
                <div class="card card-info-user">
                    <div class="card-header text-center">
                        <i class="fas fa-user-circle mt-2"></i>
                        <h2 class="name-profile my-3">"Nombre del usuario"</h2>
                    </div>
                    <div class="card-body text-center">
                        <div class="list-group mb-5">
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/user/userinfo']">Información general</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/user/myprojects']" >Proyectos publicados</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/user/savedprojects']" >Proyectos guardados</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/user/requests']">Solicitudes de colaboración</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 my-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="project-published">Proyectos publicados</h1>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <h1 class="card-title">"Nombre del Proyecto"</h1>
                                            </div>
                                            <div class="col-2 d-flex align-items-top justify-content-end">
                                                <i class="fas fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-subtitle mb-2 text-muted mt-3">
                                        “Información del proyecto: 
                                        este es el contenido de la publicación pero no 
                                        en su totalidad y cada ves se está difuminando con el fondo ...”
                                    </h3>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="#">Colaborador 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                    </ul>
                                    <div class="row g-3">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Compartir</button>
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Guardar</button>
                                        </div>
                                        <div class="col">
                                            <h5 class="published-item " >Publicado el 23 de Agosto, 2021</h5>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <h1 class="card-title">"Nombre del Proyecto"</h1>
                                            </div>
                                            <div class="col-2 d-flex align-items-top justify-content-end">
                                                <i class="fas fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-subtitle mb-2 text-muted mt-3">
                                        “Información del proyecto: 
                                        este es el contenido de la publicación pero no 
                                        en su totalidad y cada ves se está difuminando con el fondo ...”
                                    </h3>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="#">Colaborador 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                    </ul>
                                    <div class="row g-3">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Compartir</button>
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Guardar</button>
                                        </div>
                                        <div class="col">
                                            <h5 class="published-item " >Publicado el 23 de Agosto, 2021</h5>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <h1 class="card-title">"Nombre del Proyecto"</h1>
                                            </div>
                                            <div class="col-1 d-flex align-items-top justify-content-end">
                                                <i class="fas fa-circle circle-color"></i>
                                            </div>
                                            <div class="col-1 d-flex align-items-top justify-content-end">
                                                <i class="fas fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-subtitle mb-2 text-muted mt-3">
                                        “Información del proyecto: 
                                        este es el contenido de la publicación pero no 
                                        en su totalidad y cada ves se está difuminando con el fondo ...”
                                    </h3>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="#">Colaborador 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                    </ul>
                                    <div class="row g-3">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Compartir</button>
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Guardar</button>
                                        </div>
                                        <div class="col">
                                            <h5 class="published-item " >Publicado el 23 de Agosto, 2021</h5>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <h1 class="card-title">"Nombre del Proyecto"</h1>
                                            </div>
                                            <div class="col-2 d-flex align-items-top justify-content-end">
                                                <i class="fas fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-subtitle mb-2 text-muted mt-3">
                                        “Información del proyecto: 
                                        este es el contenido de la publicación pero no 
                                        en su totalidad y cada ves se está difuminando con el fondo ...”
                                    </h3>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="#">Colaborador 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Colaborador 1</a>
                                        </li>   
                                    </ul>
                                    <div class="row g-3">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Compartir</button>
                                            <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Guardar</button>
                                        </div>
                                        <div class="col">
                                            <h5 class="published-item " >Publicado el 23 de Agosto, 2021</h5>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>