.card {
    background-color: #ffffff;
    height: 100%;
}
.container-fluid{
    background-color: #E9E9E9;
}
.fa-user-circle{
    font-size:100px;
    color: #c4c4c4;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}