.card-project {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.card-title {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.card-subtitle {
  height: 100px;
  word-wrap: break-word;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-read-more {
  float: right;
}
.nav-pills {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.fa-user {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}
.nav-link {
  color: #32CD32 !important;
}
