<div class="col-12 col-lg-12 mb-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{project.title}}</h1>
            <h3 class="card-subtitle mb-2">{{project.content}}</h3>
            <div class="nav nav-pills nav-fill">
                <div *ngFor="let colaborator of project.collaborators">
                    <a class="nav-link p-0 me-3" href="#">{{colaborator.name}} {{colaborator.lastName}}</a>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2">Compartir</button>
                    <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2" href="#" [routerLink]="['/visitor/login']">Guardar</button>
                    <button type="button" class="btn btn-secondary btn-sm ms-2 mt-2" (click)="sendProjectInfo()">Leer mas</button>
                </div>
                <div class="col position-relative">
                    <h5 class="published-item position-absolute bottom-0 end-0">{{project.finishedDate}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>