.card-title {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.card-subtitle {
  height: 90px;
  overflow: hidden;
}
.nav-pills {
  border-bottom-style: solid;
  padding-bottom: 1;
  border-width: 1px ;
}
.published-item {
  text-align: right;
  margin: 0px;
}
