<div class="list-group list-group-flush mb-3">
    <li class="list-group-item list-group-item-action active">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Roberto Jovas</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Rogelio Avila</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Benita Pazos</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Manuel Saldaña</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Cristian Reveco</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Nicolas Perez</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Cristobal Reyes</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Marcelina Tome</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Celestina Hermida</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Helena Cuellar</p>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="col d-flex align-items-center" type="button">
            <i class="fas fa-user ms-1"></i>
            <p class="user-item-contact mt-3 ms-2">Robert Rebollo</p>
        </div>
    </li>
</div>