<div mat-dialog-content>
    <div class="row">
        <div class="col-12 text-center" *ngIf="!imgURL && !loading">
            <i class="far fa-file-image"></i>
        </div>
        <div class="col-12 text-center my-3" *ngIf="!imgURL && loading">
            <div class="spinner-border" role="status"></div>
        </div>
        <div class="col-12 text-center">
            <img [src]="imgURL" *ngIf="imgURL" class="profile-img">
        </div>
        <div class="col-12 text-center my-3">
            <input #file type="file" accept='image/*' (change)="previewImg(file.files)" />
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-secondary m-4" (click)="cancel()">Cancel</button>
    <button mat-dialog-close class="btn btn-success" (click)="changeProfileImage()">Guardar</button>
</div>