.mat-form-field {
  display: unset;
}
h1 {
  color: #32CD32;
  font-size: 50px;
}
.card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.container-fluid {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
.fa-file-image {
  font-size: 250px;
  color: #C4C4C4;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.btn-omitir {
  background-color: rgba(255, 255, 255, 0);
  color: grey;
  border: hidden;
  transition: none;
}
