<div class="card chat-message-card mb-3">
    <div class="col-11">
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Tú</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
        <div class="card message">
            <div class="card-header">
                <p>Roberto Jovas</p>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
            </div>
        </div>
    </div>
</div>