.contacts {
  font-size: x-large;
}
.card-header {
  background-color: white;
}
.list-group {
  overflow-y: scroll;
  height: 450px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.list-group-item {
  padding: 0px;
}
.user-item-contact {
  font-size: medium;
}
.user-item-fa-user {
  font-size: 15px;
  padding: 5px;
  padding-right: 6px;
  padding-left: 6px;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}
/*--------------- Chat ----------------*/
.chat-contact {
  font-size: x-large;
}
.chat-fa-user {
  font-size: 30px;
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
}
.chat-card {
  height: 630px;
}
.chat-message-card {
  overflow-y: scroll;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  margin-top: 10px;
  margin-bottom: 10px;
}
.message .card-header {
  background-color: #E9E9E9;
}
.message .card-header p {
  margin-bottom: 0px;
}
::placeholder {
  color: #c4c4c4;
}
