.contacts{
    font-size: x-large;
}

.card-header{
    background-color: white;
}

/*--------------- Chat ----------------*/

.chat-contact{
    font-size: x-large;
}

.chat-fa-user{
    font-size: 30px;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
}

.chat-card{
    height: 630px;
}

.chat-message-card{
    overflow-y: scroll;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
}

/*------------------------------*/

::placeholder{
    color: #c4c4c4;
}