<div class="background container-fuild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="contacts mt-3">
                                    Contactos
                                </h5>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-end">
                                <i class="fas fa-edit" type="button" data-bs-toggle="modal" data-bs-target="#editContacts"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Buscar contactos">
                            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="list-group list-group-flush mb-3">
                            <li class="list-group-item list-group-item-action active">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Roberto Jovas</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Rogelio Avila</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Benita Pazos</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Manel Saldaña</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Cristian Reveco</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Nicolas Perez</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user"></i>
                                    <p class="user-item-contact mt-3 ms-2">Cristobal Reyes</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="col-10 d-flex align-items-center">
                            <i class="fas fa-user chat-fa-user"></i>
                            <h4 class="chat-contact mt-3 ms-2">Roberto Jovas</h4>
                        </div>
                    </div>
                    <div class="card-body card-center">
                        <div class="col-11 col-lg-9">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>