<div class="background container-fuild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="contacts mt-3">
                                    Contactos
                                </h3>
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-end">
                                <i class="fas fa-edit" type="button" (click)="editContacts()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar contactos">
                            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="list-group list-group-flush mb-3">
                            <li class="list-group-item list-group-item-action active">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Roberto Jovas</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Rogelio Avila</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Benita Pazos</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Manuel Saldaña</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Cristian Reveco</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Nicolas Perez</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Cristobal Reyes</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Marcelina Tome</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Celestina Hermida</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Helena Cuellar</p>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <div class="col d-flex align-items-center" type="button">
                                    <i class="fas fa-user user-item-fa-user ms-1"></i>
                                    <p class="user-item-contact mt-3 ms-2">Robert Rebollo</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card chat-card mt-4">
                    <div class="card-header">
                        <div class="col-10 d-flex align-items-center">
                            <i class="fas fa-user chat-fa-user"></i>
                            <h4 class="chat-contact mt-3 ms-2">Roberto Jovas</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card chat-message-card mb-3">
                            <div class="col-11">
                                <div class="card message">
                                    <div class="card-header">
                                        <p>Roberto Jovas</p>
                                    </div>
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
                                    </div>
                                </div>
                                <div class="card message">
                                    <div class="card-header">
                                        <p>Roberto Jovas</p>
                                    </div>
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
                                    </div>
                                </div>
                                <div class="card message">
                                    <div class="card-header">
                                        <p>Tú</p>
                                    </div>
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
                                    </div>
                                </div>
                                <div class="card message">
                                    <div class="card-header">
                                        <p>Roberto Jovas</p>
                                    </div>
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolor recusandae ad eveniet sint omnis magnam officia ex ab, eligendi dolorum rerum hic dicta accusantium reiciendis aliquam saepe esse neque.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <input type="text" class="form-control" placeholder="Escribe un mensaje...">
                            <button type="button" class="btn btn-primary ms-2">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>