.card {
    background-color: #ffffff;
    height: 100%;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title{
    margin: 0px;
}

.card-content{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}

.nav-link{
    padding:0px;
    text-align:left;
}

.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}

.project-published{
    margin: 0px;
}

.all-requests{
    box-shadow: 0 0px 2px rgb(0 0 0 / 18%), 0 1px 3px rgb(0 0 0 / 12%);
}