<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 my-3">
                <div class="card card-info-user">
                    <div class="card-header text-center card-header-image">
                        <i class="fas fa-user-circle mt-2"></i>
                        <p class="name-profile my-3">"Nombre del usuario"</p>
                    </div>
                    <div class="card-body text-center">
                        <div class="list-group mb-5">
                            <a href="#" class="list-group-item list-group-item-action">Información general</a>
                            <a href="#" class="list-group-item list-group-item-action">Proyectos publicados</a>
                            <a href="#" class="list-group-item list-group-item-action">Proyectos guardados</a>
                            <a href="#" class="list-group-item list-group-item-action">Solicitudes de colaboración</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 my-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="project-published">Solicitudes</h1>
                    </div>
                    <div class="card-body card-info">
                        <div class="col-12 col-lg-9 my-2 justify-content-center">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">"Solicitud de colaboracion de Roberto Javer"</h3>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-subtitle mb-2 text-muted mt-3">
                                        Roberto Javer quiere colaborar en tu proyecto “Nombre del proyecto”, 
                                        haga click en aceptar si desea colaborar con Roberto.

                                    </h3>
                                    
                                    <div class="row g-3">
                                        <div class="col-12 col-lg-6">
                                            <button type="button" class="btn btn-success btn-sm">Aceptar</button>
                                        </div>
                                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end">
                                            <button type="button" class="btn btn-danger btn-sm">Guardar</button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>