.card {
    background-color: #ffffff;
    height: 100%;
}
.container-fluid{
    background-color: #E9E9E9;
}
.fa-user-circle{
    font-size:150px;
    color: #c4c4c4;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-published{
    margin: 0px;
}
.card-title{
    margin: 0px;
}

.card-content{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.nav-link{
    padding:0px;
    text-align:left;
}
.nav-pills{
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
}
.published-item{
    text-align:right;

}

//barra de navegacion usuario
.list-group-item {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (min-width: 991px) {
    .card-info-user{
        height: 100%;
    }
    .card-header-image{
        height: 35%;
    }
}